*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0f0f0f;
    color:#fff;
}

header{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(0,0,0,.7);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-size:34px;
    color:#d4af37;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("https://images.unsplash.com/photo-1523398002811-999ca8dec234?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:64px;
}

.hero p{
    font-size:22px;
    margin:20px 0;
}

.btn{
    display:inline-block;
    background:#d4af37;
    color:#000;
    padding:16px 38px;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
}
.collection{
    padding:80px 8%;
    background:#111;
}

.collection h2{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
    color:#d4af37;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#1b1b1b;
    border-radius:18px;
    overflow:hidden;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.card h3{
    padding:20px;
}

.card p{
    padding:0 20px 20px;
    color:#d4af37;
    font-weight:bold;
}

.card button{
    margin:0 20px 20px;
    width:calc(100% - 40px);
    padding:14px;
    border:none;
    border-radius:10px;
    background:#d4af37;
    font-weight:bold;
    cursor:pointer;
}
.about{
    padding:100px 8%;
    background:#0f0f0f;
    text-align:center;
}

.about h2{
    font-size:40px;
    color:#d4af37;
    margin-bottom:25px;
}

.about p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
    color:#ddd;
    font-size:18px;
}

.about .btn{
    display:inline-block;
    margin-top:35px;
}
.best-seller{
    padding:80px 8%;
    background:#151515;
}

.best-seller h2{
    text-align:center;
    color:#d4af37;
    font-size:40px;
    margin-bottom:40px;
}
